header {
    width: 100%;
    padding: 28px 8%;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: white;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
}

.nav-item.active a{
    color: whitesmoke;
    border-bottom: 3px solid #EB5B40;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list, 
    #navbar .btn-default
    {
        display: none;
    }

    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        color: black;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px
    }

    #mobile_nav_list.nav-item {
        list-style: none;
        text-align: center;
    }

}